{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SAMSEL PUBLICATIONS</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/styl.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>

<body>

    <!-- MAIN HEADER -->
    <header class="main-header">
        <div class="header-container">
            <!-- LOGO (LEFT) -->
            <div class="logo">
                <a href="{% url 'home' %}">
                    <div class="logo-text-group">
                        <span class="logo-main">SAMSEL</span>
                        <span class="logo-sub">Publications</span>
                    </div>
                    <div class="logo-tagline">Shaping Digital Minds since 2001</div>
                </a>
            </div>

            <!-- BUTTON (RIGHT) -->
            <div class="header-action" style="display: flex; gap: 15px;">
                <a href="{% url 'products' %}#purchase" class="inquiry-btn">
                    PURCHASE REQUEST <span class="icon"></span>
                </a>
                <a href="{% url 'request_demo' %}" class="demo-btn">
                    REQUEST DEMO <span class="icon"></span>
                </a>
            </div>
        </div>
    </header>

    <!-- TOP NAVBAR (Centered) -->
    <nav class="top-navbar">
        <ul class="top-menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li class="dropdown">
                <a href="{% url 'products' %}">Products <span class="arrow">▾</span></a>
                <ul class="dropdown-menu wide-dropdown">
                    <li>
                        <a href="{% url 'series_detail' series_slug='ibot-series' %}">I-Bot Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-1' %}">Class
                                    1</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-2' %}">Class
                                    2</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-3' %}">Class
                                    3</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-4' %}">Class
                                    4</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-5' %}">Class
                                    5</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-6' %}">Class
                                    6</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-7' %}">Class
                                    7</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-8' %}">Class
                                    8</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ibot-series' book_slug='class-9' %}">Class
                                    9</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='ismart-series' %}">I-Smart Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-1' %}">Standard
                                    1</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-2' %}">Standard
                                    2</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-3' %}">Standard
                                    3</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-4' %}">Standard
                                    4</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-5' %}">Standard
                                    5</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-6' %}">Standard
                                    6</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-7' %}">Standard
                                    7</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-8' %}">Standard
                                    8</a></li>
                            <li><a href="{% url 'book_detail' series_slug='ismart-series' book_slug='level-9' %}">Standard
                                    9</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='iwhizz-series' %}">I-Whizz Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-1' %}">Standard
                                    1</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-2' %}">Standard
                                    2</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-3' %}">Standard
                                    3</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-4' %}">Standard
                                    4</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-5' %}">Standard
                                    5</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-6' %}">Standard
                                    6</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-7' %}">Standard
                                    7</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-8' %}">Standard
                                    8</a></li>
                            <li><a href="{% url 'book_detail' series_slug='iwhizz-series' book_slug='class-9' %}">Standard
                                    9</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='young-wizard-series' %}">Young Wizard Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='young-wizard-series' book_slug='level-1' %}">Level
                                    1</a></li>
                            <li><a href="{% url 'book_detail' series_slug='young-wizard-series' book_slug='level-2' %}">Level
                                    2</a></li>
                            <li><a href="{% url 'book_detail' series_slug='young-wizard-series' book_slug='level-3' %}">Level
                                    3</a></li>
                            <li><a href="{% url 'book_detail' series_slug='young-wizard-series' book_slug='level-4' %}">Level
                                    4</a></li>
                            <li><a href="{% url 'book_detail' series_slug='young-wizard-series' book_slug='level-5' %}">Level
                                    5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='little-wizard-series' %}">Little Wizard Series
                            <span class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a
                                    href="{% url 'book_detail' series_slug='little-wizard-series' book_slug='level-1' %}">Kids
                                    Level 1</a></li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='little-wizard-series' book_slug='level-2' %}">Kids
                                    Level 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='app2016-series' %}">Application 2016 Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a
                                    href="{% url 'book_detail' series_slug='app2016-series' book_slug='word' %}">MS-Word</a>
                            </li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='app2016-series' book_slug='excel' %}">MS-Excel</a>
                            </li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='app2016-series' book_slug='ppt' %}">MS-PowerPoint</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='app2007-series' %}">Application 2007 Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='app2007-series' book_slug='office-2007' %}">MS-Office
                                    2007</a></li>
                            <li><a href="{% url 'book_detail' series_slug='app2007-series' book_slug='word-2007' %}">MS-Word
                                    2007</a></li>
                            <li><a href="{% url 'book_detail' series_slug='app2007-series' book_slug='excel-2007' %}">MS-Excel
                                    2007</a></li>
                            <li><a href="{% url 'book_detail' series_slug='app2007-series' book_slug='ppt-2007' %}">MS-PowerPoint
                                    2007</a></li>
                            <li><a href="{% url 'book_detail' series_slug='app2007-series' book_slug='access-2007' %}">MS-Access
                                    2007</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='programming-series' %}">Programming Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='programming-series' book_slug='level-1' %}">C++
                                    Programming</a></li>
                            <li><a href="{% url 'book_detail' series_slug='programming-series' book_slug='level-2' %}">C
                                    Programming</a></li>
                            <li><a href="{% url 'book_detail' series_slug='programming-series' book_slug='level-3' %}">Multimedia
                                    Flash</a></li>
                            <li><a href="{% url 'book_detail' series_slug='programming-series' book_slug='level-4' %}">Learning
                                    HTML</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='my-computer-series' %}">My Computer Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='my-computer-series' book_slug='level-1' %}">Grade
                                    1</a></li>
                            <li><a href="{% url 'book_detail' series_slug='my-computer-series' book_slug='level-2' %}">Grade
                                    2</a></li>
                            <li><a href="{% url 'book_detail' series_slug='my-computer-series' book_slug='level-3' %}">Grade
                                    3</a></li>
                            <li><a href="{% url 'book_detail' series_slug='my-computer-series' book_slug='level-4' %}">Grade
                                    4</a></li>
                            <li><a href="{% url 'book_detail' series_slug='my-computer-series' book_slug='level-5' %}">Grade
                                    5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='right-click-series' %}">Right-Click Series <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a href="{% url 'book_detail' series_slug='right-click-series' book_slug='level-6' %}">ICT
                                    Standard 6</a></li>
                            <li><a href="{% url 'book_detail' series_slug='right-click-series' book_slug='level-7' %}">ICT
                                    Standard 7</a></li>
                            <li><a href="{% url 'book_detail' series_slug='right-click-series' book_slug='level-8' %}">ICT
                                    Standard 8</a></li>
                            <li><a href="{% url 'book_detail' series_slug='right-click-series' book_slug='level-9' %}">ICT
                                    Standard 9</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='cursive-writing-books' %}">English Cursive Writing
                            <span class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='lkg' %}">LKG</a>
                            </li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='ukg' %}">UKG</a>
                            </li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='level-1' %}">Level
                                    1</a></li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='level-2' %}">Level
                                    2</a></li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='level-3' %}">Level
                                    3</a></li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='level-4' %}">Level
                                    4</a></li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='cursive-writing-books' book_slug='level-5' %}">Level
                                    5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'series_detail' series_slug='tamil-writing-books' %}">Tamil Copy Writing <span
                                class="side-arrow">▶</span></a>
                        <ul class="submenu">
                            <li><a
                                    href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-1' %}">L.K.G</a>
                            </li>
                            <li><a
                                    href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-2' %}">U.K.G</a>
                            </li>
                            <li><a href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-3' %}">முதல்
                                    நிலை</a></li>
                            <li><a href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-4' %}">இரண்டாம்
                                    நிலை</a></li>
                            <li><a href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-5' %}">மூன்றாம்
                                    நிலை</a></li>
                            <li><a href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-6' %}">நான்காம்
                                    நிலை</a></li>
                            <li><a href="{% url 'book_detail' series_slug='tamil-writing-books' book_slug='level-7' %}">ஐந்தாம்
                                    நிலை</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="{% url 'contact' %}" class="active">Contact Us</a></li>

            <li class="dropdown">
                <a href="#">Login <span class="arrow">▾</span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'school_login' %}">School Login</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- HERO -->
    <section class="contact-hero reveal-up">

        <h1 class="reveal-up">
            <span class="accent-word no-underline">Contact Us</span>
        </h1>
        <p class="reveal-up delay-100">We're here to help you with all your publishing needs. Reach out and we'll
            respond within 24 hours.</p>
    </section>

    <!-- CONTACT SECTION -->
    <section class="contact-section">
        <div class="contact-wrapper">
            <!-- LEFT INFO -->
            <div class="contact-info-container reveal-up delay-100">
                <h2><span class="brand-text">SAMSEL</span> <span class="brand-secondary">Publications</span></h2>
                <p class="contact-tagline">Trusted by schools across India since 2001. We'd love to hear from you.</p>

                <div class="info-card reveal-up delay-200">
                    <div class="info-icon icon-address">📍</div>
                    <div class="info-details">
                        <h4>Address</h4>
                        <p>Near, 44, Taylors Rd,<br>Telecom Quarters, Kilpauk,<br>Chennai, Tamil Nadu 600010</p>
                    </div>
                </div>

                <div class="info-card reveal-up delay-300">
                    <div class="info-icon icon-phone">📞</div>
                    <div class="info-details">
                        <h4>Phone</h4>
                        <p>044 2647 4736</p>
                        <p>044 2645 4598</p>
                        <p>044 4285 7186</p>
                    </div>
                </div>

                <div class="info-card reveal-up delay-400">
                    <div class="info-icon icon-email">✉️</div>
                    <div class="info-details">
                        <h4>Email</h4>
                        <p>info@samselpublications.com</p>
                    </div>
                </div>

                <div class="info-card reveal-up delay-500">
                    <div class="info-icon icon-hours">⏰</div>
                    <div class="info-details">
                        <h4>Working Hours</h4>
                        <p>Monday – Saturday<br>9:00 AM – 6:30 PM</p>
                    </div>
                </div>

                <!-- GOOGLE MAP -->
                <div class="map-card reveal-up delay-600">
                    <iframe src="https://www.google.com/maps?q=44%20Taylors%20Road%20Kilpauk%20Chennai&output=embed"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>

            <!-- RIGHT FORM -->
            <div class="contact-form-container reveal-up delay-300">
                <h3>Send us a Message</h3>
                <p class="form-subtitle">Fill in the form below and our team will get back to you shortly.</p>
                <form class="premium-form">
                    <div class="form-row">
                        <div class="form-field">
                            <label for="contact-name">Your Name</label>
                            <input id="contact-name" type="text" placeholder="e.g. Rajan Kumar" required>
                        </div>
                        <div class="form-field">
                            <label for="contact-email">Email Address</label>
                            <input id="contact-email" type="email" placeholder="you@example.com" required>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="contact-phone">Phone Number</label>
                        <input id="contact-phone" type="tel" placeholder="+91 98765 43210">
                    </div>
                    <div class="form-field">
                        <label for="contact-message">Your Message</label>
                        <textarea id="contact-message" placeholder="Tell us how we can help you..." required></textarea>
                    </div>
                    <button type="submit" class="premium-submit-btn">
                        Send Message
                        <svg viewBox="0 0 24 24">
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <polyline points="12 5 19 12 12 19" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
    </div>
    </div>
    </section>

    <!-- EDUCATION BOARDS SLIDER -->
    <section class="boards-slider-container">
        <div class="boards-track">
            <!-- Set 1 -->
            <div class="board-set">
                <div class="board-item">
                    <img src="{% static 'images/boards/cbse.png' %}" alt="CBSE">
                    <span>CBSE</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/tn.png' %}" alt="TN Board">
                    <span>TN BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/ICSE2.png' %}" alt="ICSE">
                    <span>ICSE</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/kerala.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>KERALA BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/karnataka.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>KA BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/AP.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>AP BOARD</span>
                </div>
            </div>
            <!-- Set 2 for infinite loop -->
            <div class="board-set">
                <div class="board-item">
                    <img src="{% static 'images/boards/cbse.png' %}" alt="CBSE">
                    <span>CBSE</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/tn.png' %}" alt="TN Board">
                    <span>TN BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/ICSE2.png' %}" alt="ICSE">
                    <span>ICSE</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/kerala.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>KERALA BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/karnataka.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>KA BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/AP.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>AP BOARD</span>
                </div>
            </div>
            <!-- Set 3 for infinite loop fail-safe on wide screens -->
            <div class="board-set">
                <div class="board-item">
                    <img src="{% static 'images/boards/cbse.png' %}" alt="CBSE">
                    <span>CBSE</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/tn.png' %}" alt="TN Board">
                    <span>TN BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/ICSE2.png' %}" alt="ICSE">
                    <span>ICSE</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/kerala.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>KERALA BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/karnataka.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>KA BOARD</span>
                </div>
                <div class="board-item">
                    <img src="{% static 'images/boards/AP.png' %}"
                        style="border-radius:50%; box-shadow: 0 4px 6px rgba(0,0,0,0.1);" alt="Mock Board">
                    <span>AP BOARD</span>
                </div>
            </div>
        </div>
    </section>


    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-links-grid">
                <div class="footer-column">
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="{% url 'home' %}#counter-section">Our Heritage</a></li>
                        <li><a href="{% url 'home' %}#india-presence">Digital Presence</a></li>
                        <li><a href="{% url 'home' %}#sl-pillars">Digital Vision</a></li>
                        <li><a href="{% url 'home' %}#featured-series">Innovative Showcase</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Connect</h4>
                    <ul>
                        <li><a href="{% url 'request_demo' %}">Request Demo</a></li>
                        <li><a href="{% url 'contact' %}">Executive Query</a></li>
                        <li><a href="{% url 'our_story' %}">The <span class="brand-text">SAMSEL</span> Story</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Growth & Impact</h4>
                    <ul>
                        <li><a href="{% url 'home' %}#showcase-section">Educational Impact</a></li>
                        <li><a href="{% url 'home' %}#trusted-schools">Premier Partners</a></li>
                        <li><a href="{% url 'home' %}#boards-section">Academic Boards</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Ecosystem</h4>
                    <ul>
                        <li><a href="{% url 'school_login' %}">Institutional Access</a></li>
                    </ul>
                </div>
            </div>

            <h3 class="footer-logo">
                <span class="brand-text">SAMSEL</span>
                <span class="brand-secondary">PUBLICATIONS</span>
            </h3>
            <p class="footer-copyright">&copy; 2026 <span class="brand-text">SAMSEL</span> Publications. All Rights
                Reserved.</p>
        </div>
    </footer>

    <script src="{% static 'js/global.js' %}"></script>

</body>

</html>